# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example


# vscode
.vscode/*

# ignore testing coverage folder
/coverage

# ignore mock data folder
/mocks/data/*
!/mocks/data/.gitkeep
