@import 'tailwindcss';
:root {
  --bg-dark: oklch(0.92 0 230);
  --bg: oklch(0.96 0 230);
  --bg-light: oklch(1 0 230);
  --text: oklch(0.15 0 230);
  --text-muted: oklch(0.4 0 230);
  --highlight: oklch(1 0 230);
  --border: oklch(0.6 0 230);
  --border-muted: oklch(0.7 0 230);
  --primary: oklch(0.4 0.1 230);
  --secondary: oklch(0.4 0.1 50);
  --danger: oklch(0.5 0.05 30);
  --warning: oklch(0.5 0.05 100);
  --success: oklch(0.5 0.05 160);
  --info: oklch(0.5 0.05 260);
}

.dark {
  --bg-dark: oklch(0.1 0 230);
  --bg: oklch(0.15 0 230);
  --bg-light: oklch(0.2 0 230);
  --text: oklch(0.96 0 230);
  --text-muted: oklch(0.76 0 230);
  --highlight: oklch(0.5 0 230);
  --border: oklch(0.4 0 230);
  --border-muted: oklch(0.3 0 230);
  --primary: oklch(0.76 0.1 230);
  --secondary: oklch(0.76 0.1 50);
  --danger: oklch(0.7 0.05 30);
  --warning: oklch(0.7 0.05 100);
  --success: oklch(0.7 0.05 160);
  --info: oklch(0.7 0.05 260);
}

@theme inline {
  --color-background-dark: var(--bg-dark);
  --color-background: var(--bg);
  --color-background-light: var(--bg-light);
  --color-text: var(--text);
  --color-text-muted: var(--text-muted);
  --color-highlight: var(--highlight);
  --color-border-muted: var(--border-muted);
  --color-border: var(--border);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-danger: var(--danger);
  --color-warning: var(--warning);
  --color-success: var(--success);
  --color-info: var(--info);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background-dark text-text;
  }
}
