@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #0f1419;
  --border: #eff3f4;
  --input: #d1d9de;
  --muted-foreground: #536471;
  --primary: #e33b7f;
  --accent: #f7f9f9;
  --ring: #888a8c;
  --ring-primary: color-mix(in oklch, var(--primary) 60%, white);
  --destructive: #f4212e;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --dialog-backdrop: rgba(91, 112, 131, 0.4);
  --oauth: #ffffff;
}

.dark {
  --background: #000000;
  --foreground: #e7e9ea;
  --border: #303336;
  --input: #536471;
  --muted-foreground: #71767b;
  --primary: #e33b7f;
  --accent: #16181c;
  --ring: #f7f9fa;
  --ring-primary: color-mix(in oklch, var(--primary) 60%, white);
  --destructive: #82181a;
  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;
  --oauth: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-muted-foreground: var(--muted-foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --text-xs: 0.75rem;
  --color-destructive: var(--destructive);
  --color-ring-primary: var(--ring-primary);
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --animate-duration: 150ms;
  --animate-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --color-dialog-backdrop: var(--dialog-backdrop);
  --color-oauth: var(--oauth);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  button {
    @apply cursor-pointer select-none;
  }
}

@layer components {
  .input-readonly {
    @apply bg-accent/100 text-muted-foreground border-input cursor-not-allowed;
    outline: none !important;
    box-shadow: none !important;
  }

  .input-readonly:focus {
    @apply bg-accent/100 text-muted-foreground ring-0 outline-none;
    outline: none !important;
    box-shadow: none !important;
  }
}
